{% extends 'base.html' %}

{% block title %}assigns{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'assign-create' %}"><i
    class="fas fa-plus"></i> New assign</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="assigntable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Starting Time</th>
          <th>Ending Time</th>
        </tr>
      </thead>
      <tbody>

        {% for assign in students %}
          <tr class='clickable-row' data-href="{% url 'assign-detail' assign.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ assign}}</td>
            <td>{{ assign.h_start}}</td>
            <td>{{ assign.h_end}}</td>

          </tr>
        {% endfor %}


      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#assigntable').DataTable({
  });
</script>

{% endblock morejs %}
