{% extends 'base.html' %}

{% block title %}Teachers{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-primary" href="{% url 'teacher-create' %}"><i
    class="fas fa-plus"></i> New teacher</a>
{% endblock breadcrumb %}

{% block content %}
  <div class="table-responsive">
    <table id="teachertable" class="table table-bordered table-hover" data-page-length='100'>
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Fullname</th>
          <th>Email</th>
          <th>Due</th>
        </tr>
      </thead>
      <tbody>

        {% for teacher in students %}
          <tr class='clickable-row' data-href="{% url 'teacher-detail' teacher.id %}">
            <td>{{ forloop.counter}}</td>
            <td>{{ teacher.name}} {{teacher.first_name }}</td>
            <td>{{ teacher.prof_mail}}</td>
            <td>{{ teacher.due}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock content %}


{% block morejs %}
<script>
  $('#teachertable').DataTable({
  });
</script>

{% endblock morejs %}
