{% extends 'base.html' %}
{% load static %}

{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'group-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'group-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
<div class="container mb-4 ml-4">
  <h1>{{object}}</h1>

</div>
    <div class="row mb-6">
      
      <div class="col-sm-8 ml-5">
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Starting Time
            </label>
            <div class="col">
              {{ object.h_start }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Ending Time
            </label>
            <div class="col">
              {{ object.h_end}}
            </div>
          </div>
          {% if  object.is_online %}
          <div class="form-group border-bottom row">
            <label class="col">
              Online
            </label>
            <div class="col">
                Online               
            </div>
          </div>
          {% else %}
          <div class="form-group border-bottom row">
            <label class="col">
              Room
            </label>
            <div class="col">
              {{ object.room_number}}               
            </div>
          </div>

          {% endif %}
          <div class="form-group border-bottom row">
            <label class="col">
              Goal
            </label>
            <div class="col">
              {{ object.goal }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Synopsis
            </label>
            <div class="col">
              {{ object.synopsis }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Logistics
            </label>
            <div class="col">
              {{ object.logistics }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Synopsis
            </label>
            <div class="col">
              {{ object.synopsis }}
            </div>
          </div>          



        </div>

      </div>
    </div>

    <!-- <h4>Invoice/Payment History</h4>
    {% if payments %}
      <table class="table table-sm table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>For</th>
            <th>Amount Payable</th>
            <th>Amount Paid</th>
            <th>balance</th>
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
            <tr class='clickable-row' data-href="{% url 'invoice-detail' payment.id %}">
              <td>{{payment.group}} - {{payment.term}} - {{ payment.class_for}}</td>
              <td>{{payment.total_amount_payable}}</td>
              <td>{{payment.total_amount_paid}}</td>
              <td>{{payment.balance}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
        <p>There are no payment history for {{object}}</p>
    {% endif %} -->




{% endblock content %}
